.dropdown-menu {
    max-height: 400px;
    overflow-y: scroll;
    width: 220px;
}

.list-item {
    padding-top: 6px;
    padding-left: 56px;
}

.no-reports {
    display: none;
}

/* http://coliss.com/articles/build-websites/operation/css/css-responsive-full-background-image-by-sixrevisions.html */
body {
	z-index:-1;	
	background-image: url("../images/p0109_BackgroundCom.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
