<!-- レコメンドカードの詳細パネル  -->
<div class="ifttt-detail" style="color:#FFFFFF">
	<!-- if-then部分  -->
    <div class="row no-margin" style="height:30%">
        <div class="col-xs-6 ifttt-if" style="height:100%">
            <div class="row" style="font-size: 2vh;">
                <div class="text-center ifttt-head-text">if</div>
            </div>
            <div class="row ifttt-icon" style="height:80%">
                <img src="<%= if_panel %>" alt="" height="42" width="42" class="image-center" style="height:60%; width:auto">
            </div>
        </div>
        <div class="col-xs-6 ifttt-then" style="height:100%">
            <div class="row " style="font-size: 2vh;">
                <div class="text-center ifttt-head-text">then</div>
            </div>
            <div class="row ifttt-icon" style="height:80%">
                <img src="<%= then_panel %>" height="42" width="42" class="image-center" style="height:60%; width:auto">
            </div>
        </div>
    </div>
	<!-- 情報部分  -->
	<div class="row no-margin" style="height:20%">
        <div class="ifttt-info" style="height:100%;text-align:center">
			<div style="height:50px; padding-top:20px; padding-left:20px; padding-right: 20px; word-wrap: break-word; line-height: 80%; font-size:200%;"><%= description %></div>
        </div>
	</div>
	<!-- パラメータ設定部分 -->
    <div class="row no-margin" style="height:40%">
		<div class="col-xs-6" style="height:100%; text-align:center">
			<div class="if-parameter">
			</div>
        </div>
        <div class="col-xs-6" style="height:100%; text-align:center">
			<div class="then-parameter">
			</div>
        </div>
	</div>
	<!-- add ボタン部分 -->
    <div class="row " style="height:10%">
		<!-- <button class="center&#45;block add&#45;button" style="height:100%; width:20%; background:url("../images/p0101_DetailBase_TopBottom.png")">add</button> -->
		<button class="center-block add-button" style="height:100%; width:20%; background:url('../images/p0101_DetailBase_TopBottom.png')">add</button>
	</div>
</div>
