<div class="col-lg-3 col-md-6 ">
	<!-- レコメンドカードのパネル  -->
    <div class="ifttt-card" style="background: url('<%= background_image %>') no-repeat center center;cursor: pointer;">
		<!-- if-then部分  -->
        <div class="row no-margin">
            <div class="">
                <div class="col-xs-6 ifttt-if">
                    <div class="row">
                        <div class="text-center ifttt-head-text">if</div>
                    </div>
                    <div class="row ifttt-icon">
                        <img src="<%= if_panel %>" alt="" height="42" width="42" class="image-center">
                    </div>
                </div>
                <div class="col-xs-6 ifttt-then">
                    <div class="row ">
                        <div class="text-center ifttt-head-text">then</div>
                    </div>
                    <div class="row ifttt-icon">
                        <img src="<%= then_panel %>" height="42" width="42" class="image-center">
                    </div>
                </div>
            </div>
        </div>
		<!-- 情報部分  -->
		<div class="row no-margin">
            <div class="ifttt-info" >
				<div class="ifttt-info-text"><%= description %></div>
                <!-- <span class="pull&#45;right"><i class="fa fa&#45;arrow&#45;circle&#45;right"></i></span> -->
                <!-- <div class="clearfix"></div> -->
                <div style="height:30px; float:right; margin-right:5%">
                    <!-- <div style="float:left; margin&#45;right: 20px; margin&#45;top: 30px;">Score</div> -->
                    <div style="float:left; margin-right:5px">Score </div>
                    <div class="" style="float:left"><%= score %></div>
                </div>
            </div>
		</div>
    </div>
</div>
