<!-- レシピ作成ビュー  -->
<div  style="color:#FFFFFF; height:100%">
	<!-- if-then部分  -->
    <div class="row no-margin" style="height:100%">
        <div class="col-xs-6 ifttt-if" style="height:100%">
			if
        </div> 
        <div class="col-xs-6 ifttt-then" style="height:100%">
			then
        </div>
    </div>
</div>
